html {
    --res: calc(0.01 * 10vmin);
}

h1{
    font-size: calc(64 * var(--res));
    text-align: center;
    color: #08234c;
    }

h2{
        font-size: calc(35 * var(--res));
        text-align: center;
        color: #08234c;
        }

p{
    white-space: pre-line;
}


body{
    font-size: calc(30 * var(--res));
    font-family: Helvetica, sans-serif;
    text-align: justify;
    margin:2%;
    color: #242424;
    background-image: url(images/concrete_seamless.png)
    }

.custom-slider { display: none; }
.slide-container {
    width: 100%;
    max-width: 1000px;
    min-width: 200px;
    position:relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}
.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}
.slide-img{
    max-width : 100%;
    height : auto;
    text-align: center;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ text-align: center; }
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
  }

  .contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .contact .content .row .card{
    background: #fff;
    width: 150px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
  }

  .contact .content .row .card .contact-icon{
    color: #08234c;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
  }

  .contact .content .row .card:hover .contact-icon{
    transform: translateY(-10px);
  }

  .contact .content .row .card .info{
    text-align: center;
  }

  .contact .content .row .card .info h3{
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
  }

  .contact .content .row .card .info span{
    color: #666;
    font-weight: 500;
  }
